.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.link-item {
    margin: 0px;
    text-decoration: none;
    display: block;
    padding: 1em;
    background: gray;
}

.link-item :hover {
    background: darkcyan;
}